/* You can add global styles to this file, and also import other style files */
.book-item {
  border : 1px solid gray;
  border-radius: .2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 320px;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: .2em;
}